.flatsome-section-title-container {
    margin-bottom: 0;

    .section-title span {
        text-transform: capitalize;
    }
}

// Override Wishlist styles.
.wishlist-icon:hover {

    .wishlist-button.is-outline {
            background-color: var(--primary-color);
            color: #fff;
    }
}

        .wishlist-button.is-outline {
            background-color: #fff;
            color: var(--primary-color);
            border: none;}


button.wishlist-button {
    margin: 0 !important;
    height: 32px;
    width: 32px;
    min-height: 32px!important;
    min-width: 32px!important;
}

.product-small {
    .image-tools.top.right.show-on-hover {
        z-index: 1;
    }

    .price-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .star-rating {
            margin-left: initial;
            margin-right: initial;
            margin-left: 10px;
        }

        .flatsome-child-product-quantity {
            margin: 0;
            margin-top: 1px;
        }

        span.price {
            margin-top: 10px;
            flex-basis: 100%;
        }
    }
}

.wishlist-popup {
    opacity: 0;
    z-index: -1;
    position: absolute;
    overflow: hidden;
    padding: 1px 0;
    padding-left: 10px;
    margin: 0px;
    border-radius: 100px;
    line-height: 30px;
    max-height: 32px;
    height: 32px;
    text-align: left;
    font-size: 12px;
    top: 0;
    background-color: var(--primary-color);
    right: 2px;
    width: 0;
    color: #FFF;
    transition: all .3s ease;

    .wishlist-icon:hover & {
        width: 130px;
        max-height: 32px;
    }
}

// Quick View.
.flatsome-child-quick-view-wrapper.show-on-hover {
    position: absolute;
    z-index: 1;
    margin-top: 52px;
    margin-right: 10px;
    top: 0;
    right: 0;
    transition: all .3s ease;
    height: 32px;
    width: 32px;
    border-radius: 999px;
    background-color: #fff;
    transition: all .3s ease;

    &:hover {

        background-color: var(--primary-color);

        a.quick-view {
            line-height: 30px;
            padding-left: 10px;
            width: 130px;
            text-align: left;
            background-color: var(--primary-color);

            &::before {
                border-radius: 9999px;
                height: 32px;
                width: 32px;
                position: absolute;
                z-index: 2;
                right: 0;
                top: 0;
                background: #a59a8c url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M4 11C4 7.13401 7.13401 4 11 4C14.866 4 18 7.13401 18 11C18 12.886 17.2541 14.5978 16.0412 15.8566C16.0071 15.8828 15.9742 15.9116 15.9429 15.9429C15.9116 15.9742 15.8828 16.0071 15.8566 16.0412C14.5978 17.2541 12.886 18 11 18C7.13401 18 4 14.866 4 11ZM16.6177 18.0319C15.078 19.2635 13.125 20 11 20C6.02944 20 2 15.9706 2 11C2 6.02944 6.02944 2 11 2C15.9706 2 20 6.02944 20 11C20 13.125 19.2635 15.078 18.0319 16.6177L21.7071 20.2929C22.0977 20.6834 22.0977 21.3166 21.7071 21.7071C21.3166 22.0977 20.6834 22.0977 20.2929 21.7071L16.6177 18.0319Z" fill="white"/></svg>') no-repeat;
                background-position: right 50% top 50%;
                content: '';
                display: block;
            }
        }
    }

    a.quick-view {
        line-height: 30px;
        padding-left: 10px;
        background-color: #fff;
        height: 32px;
        width: 32px;
        font-weight: 400;
        font-size: 12px;
        align-self: center;
        text-transform: capitalize;
        position: absolute;
        overflow: hidden;
        padding: 1px 0;
        border-radius: 999px;
        top: 0;
        right: 0;
        transition: all .3s ease;

        &::before {
            border-radius: 9999px;
            height: 32px;
            width: 32px;
            position: absolute;
            z-index: 2;
            right: 0;
            top: 0;
            background: #fff url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M4 11C4 7.13401 7.13401 4 11 4C14.866 4 18 7.13401 18 11C18 12.886 17.2541 14.5978 16.0412 15.8566C16.0071 15.8828 15.9742 15.9116 15.9429 15.9429C15.9116 15.9742 15.8828 16.0071 15.8566 16.0412C14.5978 17.2541 12.886 18 11 18C7.13401 18 4 14.866 4 11ZM16.6177 18.0319C15.078 19.2635 13.125 20 11 20C6.02944 20 2 15.9706 2 11C2 6.02944 6.02944 2 11 2C15.9706 2 20 6.02944 20 11C20 13.125 19.2635 15.078 18.0319 16.6177L21.7071 20.2929C22.0977 20.6834 22.0977 21.3166 21.7071 21.7071C21.3166 22.0977 20.6834 22.0977 20.2929 21.7071L16.6177 18.0319Z" fill="%23a59a8c"/></svg>') no-repeat;
            background-position: right 50% top 50%;
            content: '';
            display: block;
        }
    }
}

.product-small {

    .box-image {

        .add-to-cart-button {
            position: absolute;
            width: 100%;

            a {
                margin-right: 0;
            }
        }
    }
}

// Badge colors.

.badge-container {
    margin: 15px 0 0 15px;
}

.badge {
    .on-sale {
        background-color: #ef837b;
        font-size: 14px;
        padding: 5px 10px;
        display: block;
        height: auto;
        width: fit-content;
        font-weight: 400;
    }
}

.box-image .out-of-stock-label {
    background-color: #af9d87;
    font-size: 14px;
    padding: 5px 10px;
    display: block;
    height: auto;
    width: fit-content;
    font-weight: 400;
    color: #fff;
    left: 15px;
    top: 15px;
}

.nearly-out-of-stock.out-of-stock-label {
        background-color: #7dd2ea;
}

.product.sale {
    .out-of-stock-label {
        top: 45px;
    }
}

// Product box.
.product-small {

    .box-image {

        .add-to-cart-button a {
            background: #fff;
            color: var(--primary-color);

            &:hover {
                background: var(--primary-color);
                color: #fff;
            }
        }
    }

    a.added_to_cart,
    .add_to_cart_button {
        padding: 0 1.2em;
        font-weight: 400;
    }
}

.flatsome-child-dim-image {

    img {
        background-color: rgba(255, 255, 255, 0.686);
        opacity: 0.3;
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
}

/*Custom Checkbox design. */
input[type=checkbox].myronja-checkbox + label {
    display: flex;
    align-items: center;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.myronja-checkbox {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

.myronja-checkbox + label::before {
    content: '';
    width: 18px;
    height: 18px;
    margin-right: .5em;
    border: 1px solid #ddd;
}

.myronja-checkbox + label:hover::before {
    background-color: rgba( #a59a8c, 0.7 );
}

.myronja-checkbox:focus + label::before {
    box-shadow: 0 0 20px 0 rgba( #000000, 0.2 );
}

.myronja-checkbox:checked + label::before {
    content: '✔';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a59a8c;
    color: white;
}

.myronja-checkbox:disabled + label {
    color: #AAA;
    cursor: not-allowed;
}

.myronja-checkbox:disabled + label::before {
    background-color: #CCC;
    border-color: #999;
}
